@model IEnumerable<ComunidadDePracticaMVC.Models.UsuarioModel>
@{
    ViewBag.Title = "Miembros";
}

<html>

<head>
    <title> Solicitar colaboradores para revisión </title>
</head>

<body>

    <hr />
    <div>

            <h2> Decidir los revisores para el artículo </h2>
        @* Agregarle al articulo el titulo  *@


            @foreach (var posiblesRevisores in Model)
            {
                string nombreCompleto = posiblesRevisores.Nombre + " " + posiblesRevisores.Apellido1 + " " + posiblesRevisores.Apellido2;
            <div class="col-xl-12 col-md-10 mb-12 articulo-element shadow">

                <div class="col-md-6 mr-2">
                    <div class="row main-font article-h2"> Nombre</div>

                    <div class="row main-font article-h1">@nombreCompleto </div>

                </div>

                <div class="box-vertical-divider col-md-1"></div>

                <div class="col-md-2 mr-2">
                    <br />
                    <div class="row">
                        <a class="aceptar-template row btn btn-success" style="margin-left:15px; margin-bottom: 5px; width: 100%; padding-left: -10px;" href=""> <i class="fa fa-check"></i></a>
                    </div>
                    <div class="row">
                        <a class="rechazar-template row btn btn-danger" style="margin-left:15px ;margin-bottom: 5px; width: 100%; padding-left: -10px;" href=""><i class="fa fa-remove"></i></a>
                    </div>

                </div>

                @*<div class="box-vertical-divider col-md-1"></div>

                <div class="col-md-3 mr-2">

                    <div class="row main-font article-h2"> Nombre</div>

                    <div class="row main-font article-h1">@posiblesRevisores</div>

                </div>*@



            </div>
            }
    </div>


    <div class="row">
        <a class="btn box-btn" href="/Home/Index"> Volver a página principal</a>
    </div>


</body>
</html>