@model IEnumerable<ComunidadDePracticaMVC.Models.UsuarioModel>
@{
    ViewBag.Title = "Miembros";
}

<html>

<head>
    <title> Solicitar colaboradores para revisión </title>
</head>

<body>

    <div class="col-xl-12 col-md-12 mb-12">
        <div class="row page-title main-font ">
            <h2> Decidir los revisores para el artículo </h2>
            @if (ViewBag.Message != null && ViewBag.Message == "Asignación de revisión actualizada")
            {
                <div class="alert-success">
                    @ViewBag.Message
                </div>
            }
            else if (ViewBag.Message == "Falló la operación, intente más tarde")
            {
                <div class="alert-danger">
                    @ViewBag.Message
                </div>
            }
            <hr />
        </div>

    </div>
    <div class="row">

    </div>
    <div class="shadow contenedor-blanco" style="border-top-left-radius: 25px;">
        <div class ="row"style="margin-left: 0px;margin-right: 0px;">
            @foreach (var posiblesRevisores in Model)
            {
                string nombreCompleto = posiblesRevisores.Nombre + " " + posiblesRevisores.Apellido1 + " " + posiblesRevisores.Apellido2;
                <div class="col-xl-12 col-md-12 mb-12 articulo-element" style="background-color:#f9f9f9">

                    <div class="col-md-9 mr-2">
                        <div class="row main-font article-h2"> Nombre del miembro</div>

                        <div class="row main-font article-h1">@nombreCompleto </div>

                    </div>

                    <div class="box-vertical-divider col-md-1"></div>

                    <div class="col-md-2 mr-2">
                        <br />
                        <div class="row">
                            <a class="aceptar-template row btn btn-success box-btn-font" style="margin-left:15px; margin-bottom: 5px; width: 100%; padding-left: -10px;" href="@Url.Action("DecisionRevisor", "Revisiones", new { articuloId = ViewBag.articuloId, hilera = "Aceptar", correo = posiblesRevisores.Correo })"> <i class="fa fa-check"></i> Aceptar </a>
                        </div>
                        <div class="row">
                            <a class="rechazar-template row btn btn-danger box-btn-font" style="margin-left:15px ;margin-bottom: 5px; width: 100%; padding-left: -10px;" href="@Url.Action("DecisionRevisor", new {articuloId = ViewBag.articuloId, hilera = "Rechazar", correo = posiblesRevisores.Correo })"><i class="fa fa-remove"></i> Rechazar</a>
                        </div>

                    </div>
                </div>
            }
        </div>
    </div>


</body>
</html>