@{
    ViewBag.Title = "ControlarForma";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<h2>Controlar forma del artículo</h2>
<p>Esto es un prototipo para hacer un edit a un artículo corto</p>

