<!--
@{
    ViewBag.Title = "Index";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>





<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
-->
@{

}
<title>Página de inicio: Comunidades de práctica</title>
<body>

    @*esto es para articulos pendientes de revisión que solo puede ver el coordinador, falta acomodar d1 que se vea lindo..*@
    @if (ViewBag.categoria == "Coordinador")
    {

        <h2> Artículos que requieren revisión </h2>
        <p> Aquí podrá encontrar artículos para los cuales nuestros miembros han solitado revisión</p>
        <a class="btn box-btn" href="/Revisiones/ArticulosRequierenRevision"> Ver Articulos </a>

        <h2> Artículos revisados por miembros </h2>
        <p> Aquí puede tomar la decisión final respecto a los artículos enviados a revisión</p>
        <a class="btn box-btn" href="/Revisiones/ArticulosEnRevisionPorMiembros"> Ver Articulos </a>
    }

    <div class="row " style="height:100%;">
        <div class="col-md-6">
            <div class="box-container-generic shadow">
                <div class="box-header row">
                    <div class="box-header-title">Artículos publicados</div>
                </div>
                <div class="box-content" style="padding: 20px;">
                    <p>
                        Aquí puede acceder a la lista de artículos publicados por nuestros autores en la plataforma
                    </p>
                </div>
                <div class="box-footer">
                    <p><a class="btn box-btn" href="https://localhost:44392/Articulo/InicioArticulos">Ver artículos &raquo;</a></p>
                </div>


            </div>

            <div class="box-container-generic shadow">
                <div class="box-header row">
                    <div class="box-header-title">Preguntas frecuentes</div>
                </div>
                <div class="box-content" style="padding: 20px;">
                    <p>
                        Si tiene alguna pregunta busque en nuestro FAQ.
                    </p>
                </div>
                <div class="box-footer">
                    <p><a class="btn box-btn" href="https://localhost:44392/faq/FAQ">FAQ &raquo;</a></p>
                </div>


            </div>
        </div>
        <div class="col-md-6">

            <div class="box-container-generic shadow">
                <div class="box-header row">
                    <div class="box-header-title">Anuncios</div>
                </div>
                <div class="box-content" style="padding: 20px;">
                    Aqui se notifcaran eventos nuevos.
                </div>
                <div class="box-footer">

                </div>


            </div>

        </div>

    </div>

</body>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}



