@{
    ViewBag.Title = "Consulta de Artículo";
}
    <div>
        <h3>@ViewBag.Title </h3>
    </div>

    <hr />

    <div>
        <h4>@ViewBag.Message</h4>
    </div>

    <hr />

    <div>
<<<<<<< HEAD:ComunidadDePracticaMVC/ComunidadDePracticaMVC/Views/Articulo/ConsultarArticulos.cshtml
        <table class="table table-bordered table-striped">
=======
        <table class="table table-bordered table-striped"">
>>>>>>> 9a0e39c9ea01d4af9a66b105f910da93a1d4c73e:ComunidadDePracticaMVC/ComunidadDePracticaMVC/Views/Home/ConsultarArticulos.cshtml
            <tr>
                <td><strong> Autor </strong></td>
                <td>  Edwin Josué Brenes Cambronero  </td>
            </tr>

            <tr>
                <td> <strong> País </strong> </td>
                <td> Costa Rica </td>
            </tr>

            <tr>
                <td> <strong> Título </strong> </td>
                <td> Actividades generadoras de modelos matemáticos </td>
            </tr>

            <tr>
                <td> <strong> Resumen </strong> </td>
                <td>
                    <p>
                        This article addresses the use of Model-Eliciting Activities (MEAs) as a (curricular) tool to develop mathematic creativity
                        and identify students who are creatively gifted in mathematics. The thesis of this article is that by using MEAs, gifted
                        educators can: (a) provide students with opportunities to develop creative and applied mathematical thinking; and (b) analyze
                        students’ mathematical thinking when engaged in creative mathematical tasks, aiding in the identification of those students who a
                        re especially talented in domain-specific, mathematical creativity. The authors’ conclude that MEAs have
                        potential for both developing and identifying creatively gifted mathematicians in the middle grades.
                    </p>
                </td>
            </tr>

            <tr>
                <td> <strong> Key-words </strong> </td>
                <td> matethematics, modeling,  eliciting-activities</td>
            </tr>

        </table>
    </div>


