@{
    ViewBag.Title = "Consulta de Artículo";
    @model ComunidadDePracticaMVC.Models.ArticuloModel
    string autor = Model.Autor;
    string resumen = Model.Resumen;
    string titulo = Model.Titulo;
    string topico = Model.Topico;
    string contenido = Model.Contenido;
}
<div>
    <h3>@ViewBag.Title </h3>
</div>

<hr />

<div>
    <h4>@ViewBag.Message</h4>
</div>

<hr />

<div>

    <table class="table table-bordered table-striped">
        <tr>
            <td><strong> Autor </strong></td>
            <td>   @autor </td>
        </tr>

        <tr>
            <td> <strong> Título</strong> </td>
            <td> @titulo </td>
        </tr>

        <tr>
            <td> <strong> Tópico </strong> </td>
            <td> @topico </td>
        </tr>

        <tr>
            <td> <strong> Resumen </strong> </td>
            <td>
                <p>
                    @resumen
                </p>
            </td>
        </tr>

        <tr>
            <td> <strong> Contenido </strong> </td>
            <td>
                <p>
                    @contenido
                </p>
            </td>
        </tr>

    </table>
</div>


