@model ComunidadDePracticaMVC.Models.ArticuloModel



<div> 
    <h3>Crear artículo:</h3>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Crear artículo corto"  onclick="@("window.location.href='" + @Url.Action("CrearArticulo", "Articulo") + "'");" class="btn btn-default" id="artCorto" />
            <input type="submit" value="Subir artículo largo" class="btn btn-default" id="artLargo" />
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
