<h1>Artículos publicados</h1>
<table class="table">
    <tr>
        <td><b>Titulo de articulo</b></td>
        <td><b>Consultar</b></td>
    </tr>
    <tr>
        <td>Título: Modelización matemática</td>
        <td> <a class="btn btn-default" href="https://localhost:44392/Articulo/ConsultarArticulos"> Ver un resumen &raquo;</a></td>
    </tr>
</table>
