@{

 }

<html>

<head>
    <script type="text/javascript">

        function enviarResumen(mensaje) {
            alert(mensaje);
        }

        $(document).ready(function () {
            var currentPage = 1;
            loadArticlesData(currentPage);
           
            $(window).scroll(function () {
                var windowComparison = ($(document).height() - $(window).height()) - $(window).scrollTop();
                if (Math.abs(windowComparison) <= 1) {
                    currentPage += 1;
                    loadArticlesData(currentPage);
                }

            });


        });

        function loadArticlesData(currentPageNumber) {
            $.ajax({
                type: "GET",
                url: 'getArticulosInfo',
                data: {},
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: { pageNumber: currentPageNumber, pageSize: 5 },
                success: function (response) {
                    //get the template element:
                    var artTemp = document.getElementsByTagName("template")[0].content;
                    var articleList = $('#articleList');

                    // Looping over emloyee list and display it
                    $.each(response, function (index, articulo) {
                        var idS = new String(articulo.ArticuloId);
                        //url para ver
                        var lookUrl = '@Url.Action("ConsultarArticulos", "Articulo",new { id= "VAL"},null)';
                        lookUrl = lookUrl.replace("VAL", idS);
                        //url para borrar
                        @*var deleteUrl = '@Url.Action("BorrarArticulo", "Articulo",new { id= "VAL"},null)';
                        deleteUrl = deleteUrl.replace("VAL", idS);*@

                        var articleInstance = document.importNode(artTemp, true);

                        var title, author, info, lookLink;

                        //get the DIV element from the template Instance:
                        like = articleInstance.querySelector(".likes_template");
                        dislike = articleInstance.querySelector(".dislikes_template");
                        fecha = articleInstance.querySelector(".fecha_template");
                        title = articleInstance.querySelector(".title_template");
                        author = articleInstance.querySelector(".author_template");
                        lookLink = articleInstance.querySelector(".look-template");

                        title.textContent = articulo.Titulo;
                        like.textContent = like.textContent + articulo.Likes;
                        dislike.textContent = dislike.textContent + articulo.Dislikes;
                        fecha.textContent = fecha.textContent + (articulo.FechaPublicacion).split(' ')[0];
                        author.textContent = articulo.Autor;
                        lookLink.href = lookUrl;

                        articleList.append(articleInstance);


                    });
                },
                error: function (err) {

                }

            });
        }
    </script>

</head>

<body>

    <div class="col-xl-12 col-md-12 mb-12">
        <div class="row page-title main-font ">
            <h2>Artículos publicados por la comunidad</h2>
            <hr />
        </div>
        @*<div class="row main-font search-bar">
                <input id="tableSearch" class="search-text" type="text" placeholder="Busque aqui.">
            </div>*@
    </div>
    <div class="row">

    </div>
    <div class="shadow contenedor-blanco" style="border-top-left-radius: 25px; ">
        <div id="articleList" class="row" style="margin-left: 0px;margin-right: 0px;">

        </div>
    </div>

</body>

</html>

<template>

    <div class="col-xl-12 col-md-12 mb-12 articulo-element" style="background-color:#f9f9f9">

        <div class="col-md-6 mr-2">
            <div class=" title_template row main-font article-h1">La Descomposición del Estudiante</div>
            <div class=" author_template row main-font article-h2">Edwin Brenes</div>

        </div>
        <div class="box-vertical-divider col-md-1   "></div>
        <div class="col-md-3 mr-2">

            <div title="Publicación" class=" fecha_template row main-font article-h2">&#128197 </div>
            <div title="Likes" class=" likes_template row main-font article-h2">&#128077 </div>
            <div title="Dislikes " class=" dislikes_template row main-font article-h2">&#128078 </div>

        </div>
        <div class="box-vertical-divider col-md-1   "></div>

        <div class="col-md-2 mr-2">
            
            <div class="row">
                <a class="look-template row btn box-btn" style="margin-top: 30px;margin-left:5px; margin-bottom: 5px; width: 130%; padding-left: -10px;" href=""> <i class="fa fa-eye"></i> Consultar  </a>
            </div>
            
        </div>
    </div>

</template>




