
@if (Request.Cookies["userInfo"] != null)
{
    <li class="sidebar-title"> <a href="#"> Mi perfil </a> </li>
    <li> <a href="#"> Crear Articulo </a> </li>
    <li> <a href="#"> Mis Articulos </a> </li>
    <li class="sidebar-divider"></li>   
}

