@page
@model BusquedaModel
@{
    ViewData["Title"] = "ControlarForma";
}

<link rel="stylesheet" type="text/css" href="Content/css/Style.css">

<!-- Search form -->
<form class="form-inline d-flex justify-content-center md-form form-sm mt-0">
    <i class="fas fa-search" aria-hidden="true"></i>
    <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search"
           aria-label="Search">
</form>


<h2>Controlar forma del artículo</h2>
<p>Esto es un prototipo para hacer un edit a un artículo corto</p>