@page
@model ComunidadDePractica.Pages.ControlarFormaModel
@{
    ViewData["Title"] = "ControlarForma";
}

<h2>Controlar forma del artículo</h2>
<p>Esto es un prototipo para hacer un edit a un artículo corto</p>

